@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Domine", serif;
    background-color: #f7f7f7;
    color: #5572B2;
    /*color: #82a1d1;
    #344c92
    #5572B2
    */
}

main{
    margin: 0 auto;
    max-width: 800px;
}

section{
    width: 100%;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
}

a{
    display: block;
    margin: 0 auto;
    background-color: #5572B2;
    color: #f7f7f7;
    padding: 15px 50px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 8px;
}

h1{
    font-size: 35px;
    margin: 0;
    margin-top: 15px;
}

h2{
    font-size: 60px;
    margin: 25px;
    margin-top: 50px;
    text-align: center;
    font-weight: bolder;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

@keyframes reveal {
    from {
        opacity: 0.1;
        translate: 0 40px;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: #82a1d1;
     color: white;
     }

/*-----------------------    Primera Seccion    -----------------------*/
.section-1{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 article{
    width: 70%;
    z-index: 50;
    text-align: center;
    margin-top: 70px;
}

.datos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contenedor-guardar-fecha hr{
    width: 40%;
    padding: 0 20px;
    border:  #344c92 2.8px solid;
    color: #344c92;
}

.contenedor-fecha{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contenedor-fecha hr{
    padding: 0 40px;
    border:  #344c92 1px solid;
    color: #344c92;
}

.contenedor-fecha span{
    font-size: 30px;
}

.flores{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}



.guardar-fecha{
    font-size: 70px;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    color: #82a1d1;
}

.nos-casamos{
    font-size: 30px;
    margin: 20px;
}

.gotas{
    width: 250px;
    position: absolute;
}

#gotas1{
    top: 200px;
    right: -40px;
    transform: rotate(-90deg);
}

#gotas2{
    top: 600px;
    left: -80px;
    transform: rotate(90deg);
}

#countdown {
    font-size: 15px;
    background-color: #f0f0f03b;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 4px;
}

/*-----------------------    Segunda Seccion    -----------------------*/


.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #344c92;
    color: white;
    padding: 40px 0;
    border-radius: 10px;
}

.section-2 div{
    width: 100%;
}

.section-2 ul{
    margin: 0 auto;
    width: 95%;
    padding: 10px 0;
}

.section-2 li{
    width: 13%;
    padding: 8px 0;
}

.semana{
    font-size: 25px;
}

.dias{
    font-size: 20px;
    width: 70%;
}

.dia19{
    background-color: #5572B2;
}

.section-2 a{
    margin-top: 50px;
}
/*-----------------------    Tercera Seccion    -----------------------*/
.section-3, .section-5{    
    width: 100%;
    text-align: center;
    color: #344c92;
   /* #82a1d1;
    #344c92;
    #5572B2;*/
    padding: 50px 0px;
    font-size: 25px;
}

.section-3 article, .section-5 article{
    border: #344c92 1px solid;
    border-radius: 10px;
    width: 90%;
    margin: 30px auto;
    padding: 50px 0px;
}

.section-3 article div, .section-5 article div{
    width: 90%;
    margin: 0 auto;
    background-color: #344c92;
    border-radius: 20px;
    color: #f7f7f7;
    gap: 40px;
}

.pareja{
    width: 200px;
    margin: 0 auto;
}

.copas{
    width: 300px;
    margin: 0 auto;
}

.section-3 article div span{
    border-top: 1px #f7f7f7 solid;
    border-bottom: 1px #f7f7f7 solid;
    padding: 40px 0;
}

.datos-ceremonia{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}


.section-3 a{
    margin-top: 40px;
}
/*-----------------------    Cuarta Seccion    -----------------------*/

.section-4{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background-color: #344c92;
    color: #f7f7f7;
    text-align: center;
    border-radius: 10px;
}

.section-4 article{
    display: flex;
    margin-top: 40px;
}

.section-4 article div{
    width: 50%;
}

.tie-svg{
    width: 80px;
    margin: 20px;
    border: #f7f7f7 1px solid;
    padding: 10px;
    border-radius: 100%;
}

.section-4 span{
    font-size: 30px;
}

.section-4 p{
    margin: auto 10px;
}

.contenedor-colores{
    margin-top: 50px;
    width: 100%;
}

.contenedor-colores ul{
    margin: 20px;
    padding: 0;
}

.contenedor-colores ul li{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.contenedor-colores p{
    font-size: 25px;
}

#blanco{
    background-color: #ffffff;
}

#beige{
    background-color: #F5F5DC;
}

#amarillo{
    background-color: #FFFF00;
}

#plateado{
    background-color: #C0C0C0;
}

#dorado{
    background-color: #FFD700;
}

#rojo{
    background-color: #FF0000;
}

/*-----------------------    Quinta Seccion    -----------------------*/
.section-5 article div{
 padding: 60px 0px;
}

.section-5 span{
    display: block;
    font-size: 42px;
}

.section-5 img{
    width: 200px;
    margin-top: 30px;
}

.section-5 p{
    font-size: 22px;
    width: 250px;
    margin: 15px auto;
}

.section-5 button{
    margin-top: 10px;
    font-size: 24px;
}

.ocultar-modal{
    display: none;
}

.modal{
    position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
    display: flex;
    width: 100%;
    height: 100vh;
    background:#344c9256;
    justify-content: center;
    align-items: center;
    
}

.contenedor-modal{
    background-color: #f7f7f7;
    color: #344c92;
    width: 78%;
    padding: 30px 20px;
    border-radius: 30px;
    font-size: 20px;
    text-align: justify;
}

.contenedor-modal ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
    padding: 0;
}

.contenedor-modal li{
    text-align: left;
}

.modal button{
    display: block;
    background-color: #344c92;
    color: #f7f7f7;
    border-radius: 8px;
    padding: 8px 15px;
    margin: 0 auto;
    margin-top: 10px;
}

/*-----------------------    Sexta Seccion    -----------------------*/
.section-6{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #344c92;
    color: #f7f7f7;
    padding-bottom: 30px;
}

form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

input{
    width: 80%;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f7f7f7;
    color: #344c92;
    font-size: 20px;
}

button{
    border: none;
    background-color: #f7f7f7;
    color: #344c92;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 20px;
}


/*-----------------------    Septima Seccion    -----------------------*/
.section-7{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 10px;
    font-size: 20px;
}

.countdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #344c92;
    font-weight: bold;
    border-radius: 10px;
}

.countdown p{
    display: block;
    border-radius: 5px;
    padding: 10px;
    color: #f7f7f7;
    font-size: 30px;
    margin: 0;
    background-color: #344c92;
    width: 95%;
}

/*-----------------------    Octava Seccion    -----------------------*/








